{% extends 'base.html.twig' %}

{% block title %}Episode index
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-10 m-3 bg-light border border-1 border-dark shadow rounded">
				<h1>Episode index</h1>
				<div class="d-flex justify-content-center">
					<a href="{{ path('episode_new') }}" class="btn btn-success d-flex justify-content-center fw-bold shadow m-3 w-50">Create new episode</a>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th class="bg-dark text-light text-center border border-light">Id</th>
							<th class="bg-dark text-light text-center border border-light">Title</th>
							<th class="bg-dark text-light text-center border border-light">Number</th>
							<th class="bg-dark text-light text-center border border-light">Synopsis</th>
							<th class="bg-dark text-light text-center border border-light">actions</th>
						</tr>
					</thead>
					<tbody>
						{% for episode in episodes %}
							<tr>
								<td>{{ episode.id }}</td>
								<td>{{ episode.title }}</td>
								<td class="text-center">{{ episode.number }}</td>
								<td>{{ episode.synopsis }}</td>
								<td>
									<a href="{{ path('episode_show', {'slug': episode.slug}) }}" class="btn btn-success m-2 w-100">show</a>
									<a href="{{ path('episode_edit', {'slug': episode.slug}) }}" class="btn btn-danger m-2 w-100">edit</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="5">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
