{{ form_start(form) }}

<div class="row justify-content-center border border-2 shadow">
	<div class="col-6 m-2">
		{{ form_label(form.rate) }}
		{{ form_widget(form.rate)}}
		{{ form_help(form.rate) }}
	</div>


	<div class="col-6 m-2">
		<h2 class="mt-2">
			Ajoutez un commentaire:
		</h2>
		{{ form_label(form.comment) }}
		{{ form_widget(form.comment) }}
		<div class="d-flex justify-content-end">
			<button class="btn btn-success mt-2">{{ button_label|default('Save') }}</button>
		</div>
	</div>
</div>

{{ form_end(form) }}
