{{ form_start(form) }}

<div class="row justify-content-center border border-2 shadow">
	<h2 class="mt-2">
		Ajoutez un commentaire:
	</h2>

	<div class="col-6 m-2">
		{{ form_label(form.rate) }}
		{{ form_widget(form.rate)}}
		{{ form_help(form.rate) }}
	</div>


	<div class="col-6 m-2">
		{{ form_label(form.comment) }}
		{{ form_widget(form.comment) }}
		{{ form_end(form) }}
	</div>
</div>
