{% extends 'base.html.twig' %}
{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-8">
				<h1>{{program.title}}</h1>
				<div class="row">
					<div class="col-6">
						<img src="{{ vich_uploader_asset(program, 'posterFile') }}" width="200" alt="{{ program.title }} poster">
					</div>
					<div class="col-6">
						<h2 class="text-danger fw-bold bg-dark px-2">Saison
							{{ season.number }}
							-
							{{ season.year }}</h2>
						<h5>{{ episode.number }}
							-
							{{ episode.title}}</h5>
						<p>{{ episode.synopsis }}</p>
					</div>
					<a href="{{ path('program_season_show', {slug: program.slug, seasonId: season.id}) }}" class=" flex d-flex justify-content-end mb-5">
						<div class="btn btn-dark m-2">
							Retour Saison
						</div>
					</a>

					<div class="m-4 rounded">
						{% if app.user and is_granted("ROLE_CONTRIBUTOR")%}
							{% include "program/_commentForm.html.twig" %}
						{% endif %}
						<h4>Commentaires:
						</h4>
						{% for comment in episode.comments %}
							<div class="row">
								<div class="col border border-1 border-success rounded shadow">
									<div class="m-2 p-4">
										{{ comment.author.username }}
										:
										{{ comment.comment }}
										<div class="float-end">
											{{ comment.rate }}
											/ 5
										</div>
									</div>
									<div class="col">
										{% if app.user and app.user == comment.author or is_granted('ROLE_ADMIN') %}
											{% include "program/_deleteComment.html.twig" %}
										{% endif %}
									</div>
								</div>
							</div>
							<p class="text-center">
								{% else %}Aucun Commentaire</p>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
