{% extends 'base.html.twig' %}
{% block title %}All programs
{% endblock %}


{% block body %}
	<div class="container">
		<h1>Toutes les séries :
		</h1>
		{% for program in programs %}
			<div class="row justify-content-center">
				<div class="col-8">
					<h2>{{ program.id }}
						/
						<a href="{{ path("program_show", { 'slug': program.slug }) }}">{{ program.title }}</a>
					</h2>
					Catégorie :
					{{ program.category.name }}
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-3">
					<img src="{{ program.poster }}" width="200" alt=""/>
				</div>
				<div class="col-5">
					{{ program.summary }}
				</div>
			</div>
		{% else %}
			Aucune série trouvée.
		{% endfor %}
		<a href="{{ path('category_index') }}" class="flex d-flex justify-content-end mt-5">
			<div class="btn btn-dark m-2">
				Retour Catégories
			</div>
		</a>

	</div>
</div>{% endblock %}
