{% extends 'base.html.twig' %}
{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-4">
				<h1>{{program.title}}</h1>
				<img src="{{ vich_uploader_asset(program, 'posterFile') }}" alt="{{ program.title }}" width="200">
				<div class="border-top border-2 border-dark p-2">
					<h2 class="text-danger fw-bold bg-dark px-2">Saison
						{{ season.number }}
					</h2>
					Année de sortie :
					{{ season.year }}
				</div>
				<div class="border-top border-2 border-dark p-2">
					<p>{{ season.description }}</p>
				</div>
			</div>
			<div class="col-5 mt-5 pt-5">
				<p>Liste des épisodes:</p>

				{% for episode in episodes %}
					<a href="{{ path('program_episode_show', {programSlug: program.slug, seasonId: season.id, episodeSlug: episode.slug}) }}" class="btn text-danger  bg-dark px-2 m-1">Épisode
						{{ episode.number }}
						:
						{{ episode.title }}</a>
					<br/>
				{% endfor %}

				<a href="{{ path("program_show", { 'slug': program.slug }) }}" class=" flex d-flex justify-content-end mb-5">
					<div class="btn btn-dark m-2">
						Retour Liste Saisons
					</div>
				</a>
			</div>
		</div>
	{% endblock %}
